[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "changeRangeR"]
	path = changeRangeR
	url = https://github.com/cran/changeRangeR
